FLASK_APP=app.py
FLASK_ENV=development
FLASK_DEBUG=true
SECRET_KEY=algumsegredo
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/db
GOOGLE_CLIENT_ID=
OAUTHLIB_INSECURE_TRANSPORT=1
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000